.addform-page {

  .form-container {
    width: 70%;
    margin: 0 auto;

     @media (max-width: 1366px) {
       width: 95%;
     }
  }

  &__header {
    padding-bottom: 2rem;
    gap: 4rem;

    @media (max-width: 1366px) {
      padding-bottom: 1.5rem;
      gap: 2rem;
    }
  }

  &__body {
    .form { 
      gap: 5rem;
      margin-bottom: 1rem;
      justify-content: center;

      @media (max-width: 1366px) {
        gap: 3rem;
      }

      &__item {
        display: grid;
        padding-bottom: 3rem;
        gap: 1.5rem;
        grid-template-columns: 2fr 0.5fr;  
        
        @media (max-width: 1366px) {
          padding-bottom: 1.5rem;
        }
      }
    }

    .btn-block {
      gap: 1.5rem;
      justify-content: center;
    }
  }
}