.profile-page {

  .dashboard-area {
    height: 13.125rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;
  }

  &__calendar {
    width: 90%;
    height: 100%;
  }

  .profile-workout-plan {
    flex-wrap: wrap;
    gap: 1.5rem;

    &__item {
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    .links {
      columns: 2;
      column-gap: 2.5rem;

      .link {
        margin-bottom: 1.875rem;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          padding-right: 0.3rem;
        }
      }

      .link:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $screen-medium) {
  .dashboard-area {
    display: none;
  }

  .profile-workout-plan {
    margin-top: 3rem;
  }
}