.exercise-page {

  .exercise-page-chart {
    height: 36rem;

    .chart-tooltip {
      padding: 2rem;
      background-color: $white;
      box-shadow: $shadow;
      border-radius: 12px;
      border: 1px solid $slate-row;
      color: $font-header;

      p {
        padding-bottom: 0.7rem;
      }

      span {
        font-weight: 700;
        font-size: 1.5rem;
        color: $green;
      }
    }
  }
}