.exercises-page {

  h3 {
    color: $font-dark-gray;
  }

  &__block {
    padding-top: 2.1875rem;
    align-items: center;
  }

  &__item {
    transition: $animation;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: lighten($dark-gray, 28%);
    }
  }

  .exercises-search-area {
    width: 75vw;
    margin-bottom: 2.5rem;
  }

  .tag-area {
    gap: 2rem;
    justify-content: space-between;

    &__item {
      align-self: center;
      gap: 0.3125rem;

      p {
        color: $light-gray;
      }
    }
  }

  .exercises-result-area {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    overflow-y: scroll;
    height: 65vh;
  }
}