input {
  border: none;
  background-color: transparent;
  width: 100%;
  transition: $animation;
  font-family: 'Inter', sans-serif;

  &:focus {
    outline: none;
  }
}

.input {
  padding: 0.6rem 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid lightgray;

  &:focus, &:hover {
    border: 1px solid darken(lightgray, 15%)
  }
}

.search {
  position: relative;
  border-bottom: 1px solid $dark-gray;
  font-size: 1rem;
  color: $light-gray;
  padding: 0 0 0.625rem 1.875rem;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;

  &:focus {
    border-bottom: 1px solid $light-gray;
    background-image: url('../img/search-focus.svg');
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: $dark-gray;
  border-radius: 12px;
}

button {
  cursor: pointer;
  color: $white;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Inter";
  background-color: $blue;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  border: none;
  transition: $animation;
  
  &.btn-alt {
    background-color: $green;

    &:hover {
      background-color: darken($green, 12%);
    }
  }

  &:hover {
    background-color: $blue-hover;
  }
}