input {
  border: none;
  background-color: transparent;
  width: 100%;
  transition: $animation;
  font-family: 'Inter', sans-serif;

  &:focus {
    outline: none;
  }
}

.weight-input {
  position: relative;
}

.date-input {
  position: relative;

  .date-icon {
    transition: $animation;
    position: absolute;
    right: -0.3rem;
    top: 0.6rem;
    width: 30px;
    height: 30px;
    background-image: url('../img/menu-calendar.svg');
    background-repeat: no-repeat;
  }

  &:hover {
    .date-icon {
      background-image: url('../img/menu-calendar-selected.svg');      
    }
  }
}

.date-input *{
  font-weight: 300;
  font-size: 1rem;
  position: relative;
}

label {
  position: absolute;
  top: -1.2rem;
  color: $font-dark-gray;

  @media (max-width: 1366px) {
    display: none;
  }
}

.input {
  padding: 0.6rem 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid lightgray;

  &:focus, &:hover {
    border: 1px solid darken(lightgray, 15%)
  }
}

.search {
  position: relative;
  border-bottom: 1px solid $dark-gray;
  font-size: 1rem;
  color: $light-gray;
  padding: 0 0 0.625rem 1.875rem;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;

  &:focus {
    border-bottom: 1px solid $light-gray;
    background-image: url('../img/search-focus.svg');
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: $dark-gray;
  border-radius: 12px;
}

button {
  cursor: pointer;
  color: $white;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Inter";
  background-color: $blue;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  border: none;
  transition: $animation;
  
  &.btn-alt {
    background-color: $green;

    &:hover {
      background-color: darken($green, 12%);
    }
  }

  &:hover {
    background-color: $blue-hover;
  }
}

.modal-container {
  height: 100%;
  width: 100%;
  justify-content:center;
  align-items:center;

  .modal {
    width: 37.5rem;
    height: 21.875rem;
    background-image: url('../img/modal-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: $animation;

    &__img {
      display: inline-block;
      width: 7.5rem;
      height: 5.625rem;
      background-repeat: no-repeat;
      background-position: center;
      
      &--success {
        background-image: url('../img/validate.svg');
      }
      &--failure {
        background-image: url('../img/failure.svg');
      }
    }
  }
}

