@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h3.regular {
  font-weight: 400;
  color: #475569;
}

h1,
h2,
h3 {
  color: #334155;
}

h1,
h2,
h3 {
  margin-bottom: 1.875rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}
p.light {
  font-weight: 300;
}
p.title {
  font-size: 3rem;
  font-weight: 700;
  color: #334155;
}
p.semi {
  font-size: 1.5rem;
  color: #334155;
  font-weight: 500;
}
p.description {
  font-size: 0.75rem;
  font-weight: 300;
}

a {
  font-size: 1rem;
  font-weight: 400;
  color: #38BDF8;
  transition: ease-in-out 300ms;
}
a:hover {
  color: #0EA5E9;
}

.flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.app {
  background-color: #F8FAFC;
  gap: 3.4rem;
}

.wrapper {
  width: 100%;
  padding: 3rem 3.4rem 0 0;
}

.main-window {
  height: 100vh;
  width: 100vw;
  background-color: #F8FAFC;
}

.container {
  padding: 2.812rem 3.437rem;
}
@media (max-width: 1366px) {
  .container {
    padding: 2rem 1.5rem;
  }
}

.mb {
  margin-bottom: 1.875rem;
}

.jcsb {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.card-container {
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  flex-grow: 1;
  width: auto;
  justify-content: center;
  padding: 1.875rem 3rem;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-bottom: 1.875rem;
}

.card-info {
  padding-left: 1.25rem;
}

.card-lable {
  color: #64748B;
}

@media (max-width: 800px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrapper {
    padding: 0 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
}
input {
  border: none;
  background-color: transparent;
  width: 100%;
  transition: ease-in-out 300ms;
  font-family: "Inter", sans-serif;
}
input:focus {
  outline: none;
}

.weight-input {
  position: relative;
}

.date-input {
  position: relative;
}
.date-input .cal-icon {
  transition: ease-in-out 300ms;
  position: absolute;
  right: -0.3rem;
  top: 0.6rem;
  width: 30px;
  height: 30px;
  background-image: url("../img/menu-calendar.svg");
  background-repeat: no-repeat;
}
.date-input:hover .cal-icon {
  background-image: url("../img/menu-calendar-selected.svg");
}

.password {
  font-size: 2rem;
  font-weight: 500;
  color: #64748B;
  height: 3rem;
  padding-left: 3.2rem;
  letter-spacing: 3.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.date-input * {
  font-weight: 300;
  font-size: 1rem;
  position: relative;
}

label {
  position: absolute;
  top: -1.2rem;
  color: #475569;
}
@media (max-width: 1366px) {
  label {
    display: none;
  }
}

.input {
  padding: 0.6rem 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid lightgray;
}
.input:focus, .input:hover {
  border: 1px solid #adadad;
}

.search {
  position: relative;
  border-bottom: 1px solid #94A3B8;
  font-size: 1rem;
  color: #64748B;
  padding: 0 0 0.625rem 1.875rem;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}
.search:focus {
  border-bottom: 1px solid #64748B;
  background-image: url("../img/search-focus.svg");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #94A3B8;
  border-radius: 12px;
}

button {
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Inter";
  background-color: #38BDF8;
  padding: 1rem 2.5rem;
  border-radius: 8px;
  border: none;
  transition: ease-in-out 300ms;
}
button.btn-alt {
  background-color: #4ADE80;
}
button.btn-alt:hover {
  background-color: #24c75f;
}
button:hover {
  background-color: #0EA5E9;
}

.modal-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.modal-container .modal {
  width: 37.5rem;
  height: 21.875rem;
  background-image: url("../img/modal-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: ease-in-out 300ms;
}
.modal-container .modal__img {
  display: inline-block;
  width: 7.5rem;
  height: 5.625rem;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-container .modal__img--success {
  background-image: url("../img/validate.svg");
}
.modal-container .modal__img--failure {
  background-image: url("../img/failure.svg");
}

.sidebar {
  background-color: #334155;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar .menu {
  width: 4.5rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2.5rem;
}
.sidebar .menu a {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.sidebar .menu a.active {
  background-color: #F8FAFC;
  border-radius: 6px;
}
.sidebar .menu__profile {
  background-image: url("../img/menu-profile.svg");
}
.sidebar .menu__profile.active {
  background-image: url("../img/menu-profile-selected.svg");
}
.sidebar .menu__exercises {
  background-image: url("../img/menu-list.svg");
}
.sidebar .menu__exercises.active {
  background-image: url("../img/menu-list-selected.svg");
}
.sidebar .menu__calendar {
  background-image: url("../img/menu-calendar.svg");
}
.sidebar .menu__calendar.active {
  background-image: url("../img/menu-calendar-selected.svg");
}
.sidebar .menu__add_form {
  background-image: url("../img/menu-add.svg");
}
.sidebar .menu__add_form.active {
  background-image: url("../img/menu-add-selected.svg");
}
.sidebar .menu__settings {
  background-image: url("../img/menu-settings.svg");
  position: absolute;
  bottom: 15px;
}
.sidebar .menu__settings.active {
  background-image: url("../img/menu-settings-selected.svg");
}

@media (max-width: 800px) {
  .sidebar {
    position: relative;
    flex-direction: row;
    padding-top: 0;
    height: 4.5rem;
    width: 100vw;
    flex-wrap: wrap;
    padding: 0 1.5rem;
  }
  .sidebar .menu {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    height: 4.5rem;
  }
  .sidebar .menu__settings {
    position: relative;
    bottom: 0;
  }
}
.profile-page .dashboard-area {
  height: 13.125rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
}
.profile-page__calendar {
  width: 90%;
  height: 100%;
}
.profile-page .profile-workout-plan {
  flex-wrap: wrap;
  gap: 1.5rem;
}
.profile-page .profile-workout-plan__item {
  flex-wrap: wrap;
  gap: 1.5rem;
}
.profile-page .profile-workout-plan .links {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.profile-page .profile-workout-plan .links .link {
  margin-bottom: 1.875rem;
}
.profile-page .profile-workout-plan .links .link:last-child {
  margin-bottom: 0;
}
.profile-page .profile-workout-plan .links .link span {
  padding-right: 0.3rem;
}
.profile-page .profile-workout-plan .links .link:nth-child(4) {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .dashboard-area {
    display: none;
  }
  .profile-workout-plan {
    margin-top: 3rem;
  }
}
.exercises-page h3 {
  color: #475569;
}
.exercises-page__block {
  padding-top: 2.1875rem;
  align-items: center;
}
.exercises-page__item {
  transition: ease-in-out 300ms;
  align-items: center;
  cursor: pointer;
}
.exercises-page__item:hover {
  background-color: #eaedf1;
}
.exercises-page .exercises-search-area {
  width: 75vw;
  margin-bottom: 2.5rem;
}
.exercises-page .tag-area {
  gap: 2rem;
  justify-content: space-between;
}
.exercises-page .tag-area__item {
  align-self: center;
  gap: 0.3125rem;
}
.exercises-page .tag-area__item p {
  color: #64748B;
}
.exercises-page .exercises-result-area {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow-y: scroll;
  height: 65vh;
}

.exercise-page .exercise-page-chart {
  height: 36rem;
}
@media (max-width: 1366px) {
  .exercise-page .exercise-page-chart {
    height: 22rem;
    max-width: 77.5rem;
  }
}
.exercise-page .exercise-page-chart .chart-tooltip {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 1px solid #F1F5F9;
  color: #334155;
}
.exercise-page .exercise-page-chart .chart-tooltip p {
  padding-bottom: 0.7rem;
}
.exercise-page .exercise-page-chart .chart-tooltip span {
  font-weight: 700;
  font-size: 1.5rem;
  color: #4ADE80;
}

.calendar-page .calendar-block {
  padding-top: 2.1875rem;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 45rem;
}
@media (max-width: 1366px) {
  .calendar-page .calendar-block {
    height: 30rem;
  }
}
.calendar-page .calendar-block .workout-list {
  width: 50%;
  color: #334155;
}
.calendar-page .calendar-block .workout-list__item {
  padding: 1.2rem 1.875rem;
  border-radius: 12px;
  gap: 8rem;
}
@media (max-width: 1366px) {
  .calendar-page .calendar-block .workout-list__item {
    gap: 1rem;
  }
}
.calendar-page .calendar-block .workout-list__item:nth-child(odd) {
  background-color: #F1F5F9;
}

.addform-page .form-container {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .addform-page .form-container {
    width: 95%;
  }
}
.addform-page__header {
  padding-bottom: 2rem;
  gap: 4rem;
}
@media (max-width: 1366px) {
  .addform-page__header {
    padding-bottom: 1.5rem;
    gap: 2rem;
  }
}
.addform-page__body .form {
  gap: 5rem;
  margin-bottom: 1rem;
  justify-content: center;
}
@media (max-width: 1366px) {
  .addform-page__body .form {
    gap: 3rem;
  }
}
.addform-page__body .form__item {
  display: grid;
  padding-bottom: 3rem;
  gap: 1.5rem;
  grid-template-columns: 2fr 0.5fr;
}
@media (max-width: 1366px) {
  .addform-page__body .form__item {
    padding-bottom: 1.5rem;
  }
}
.addform-page__body .btn-block {
  gap: 1.5rem;
  justify-content: center;
}

.auth-container {
  align-items: center;
  justify-content: center;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */